*{
    margin: auto;
    padding: auto;
    background-color: whitesmoke;
}
.todocolor {
    color: darkcyan;
    background-color: lightsteelblue;
}

.container-fluid{
    background-color: lightsteelblue;
    border-radius: 10px;
    height: 100px;
    border: solid
}

.displayHover:hover {
    background-color: red;
}

.container-text-center{
    background-color: lightblue;
    text-align: justify;
    justify-content: center;
}